env:
  global:
  - secure: d9JGdLyH/KuKFdkDizWVnLau1o9WxYMkoesWlTWnH/cnEdQNahy381c0BT8xUTDlLwmHTWM952Eazy15wEWRQLvqxV8AYwioxUQ/BKezoNGVYmfAvPuq41ELFPSMTQ+RVDWjoTVHj72SaFHFzZbMPKCAiEVcEoQTmXXlOgY3sgc=
  - secure: Grf0i8GxOo3ujtSNmrTcfNRzDrOojVXTvWKJ5LkNuMDVL1a/DiDyGRtHBEFlLfxEd3K7kQxF4JJ+sbyaTA6/WOARidmVd+aWhTGL55hy3ijCRVZH3fLsY+C4NTc48cNzxBQJZMtl+Lw1n8kikpncCEwGTrI9kdAOmgncZSzhAuc=
addons:
  sauce_connect: true
  hosts:
  - reactadmin
sudo: false
language: node_js
node_js:
- '0.10'
before_install:
- export TZ=Europe/Paris
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- "npm install -g grunt-cli bower"
install: make install && make install-blog
script: npm test
branches:
  only:
  - master
