$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "../node_modules/pace/themes/blue/pace-theme-flash.css";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background: #f8f8f8;
}

a {
    color: #337ab7;
}

.header {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-static-top;

    margin: 0;

    h1 {
        margin: 0;
        @extend .navbar-brand;
    }
}

.sidebar {
    position: absolute;
    top: 0;
    width: 250px;
    margin-top: 51px;

    ul {
        @extend .nav;
        li {
            border-bottom: 1px solid #e7e7e7;
            a {
                display: block;
                padding: 10px 15px;
                .icon {
                    margin-right: 4px;
                }
            }
        }
    }
}

.view-wrapper {
    margin-left: 250px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-left: 1px solid #e7e7e7;
    min-height: 568px;
    background: #fff;

    .page-header {
        padding-top: 20px;
        margin: 0 0 15px;
        h1 {
            margin-top: 0;
        }
        .description {
            @extend .lead;
            margin: 0;
        }
    }
}

.datagrid {
    @extend .table;
    @extend .table-condensed;
    @extend .table-hover;
    @extend .table-striped;

    .sorted {
        color: #aaa;
        font-size: 13px;
        margin-right: 4px;

        &.sorted-asc {
            @extend .glyphicon;
            @extend .glyphicon-chevron-up;
        }

        &.sorted-desc {
            @extend .glyphicon;
            @extend .glyphicon-chevron-down;
        }
    }

    .btn-default {
        margin-right: 5px;
    }

    .boolean-true {
        @extend .glyphicon;
        @extend .glyphicon-ok;
    }

    .boolean-false {
        @extend .glyphicon;
        @extend .glyphicon-remove;
    }
}


.pace-activity {
    left: 50%;
}
.ma-view-actions {
    margin: 25px 0 15px 0;
    float: right;
}
.pagination-bar {
    text-align: right;
    margin: 20px 0;

    .total {
        display: inline-block;
        padding: 5px;
    }

    .pagination {
        margin: 0 0 0 20px;
    }
}
